body {
	background-color: whitesmoke;
	margin: 0;
	color: black;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position:absolute; */
	font-family: 'Andale Mono', 'monaco', monospace;
  }

  h1 {
	  color:whitesmoke;
	  font-weight: 100;
	  background-color: black;
	box-shadow: 10px 0 0px 0px #EDC330, -10px 0 0px 0px #EDC330;
  }

  .link-tree {
	  position:absolute;
	  text-align: center;
  }

  p>span:hover {
	color:whitesmoke;
	background-color: black;
	box-shadow: 10px 0 0px 0px #EDC330, -10px 0 0px 0px #EDC330;
	transition: 0.1s;
  }

  a {
	  color: inherit;
	  text-decoration: inherit;
  }
