body {
	background-color: whitesmoke;
	margin: 0;
	color: #5d5d5a;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	font-family: 'Andale Mono', 'monaco', monospace;
  }

  h1 {
	font-weight: 100;
	text-decoration: underline;
	text-decoration-color: #FF5E0E;
	box-shadow: 12px 0 0px 0px #FF5E0E;
  }

  .link-tree {
	position:absolute;
	text-align: center;
  }

  p>span:hover {
	color:whitesmoke;
	background-color: #5d5d5a;
	box-shadow: 10px 0 0px 0px #FF5E0E, -10px 0 0px 0px #FF5E0E;
	transition: 0.1s;
  }

  a {
	color: whitesmoke;
	text-decoration: inherit;
	box-shadow: 10px 0 0px 0px #FF5E0E;
	text-decoration: underline;
	text-decoration-color: #FF5E0E;
  }
